.lal {
    padding: 10px 40px 10px 40px;
   
}


.we2 {
    margin: 50px 50px 50px 50px;
   
}
.logonow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    margin-top: 20px;
}
.up {
    Margin-top: 200px;
}

.magi {
    Margin-top: 40px; 
    margin-left: 50px; 
    margin-right: 50px; 

   
}
.form1 {
    margin-left: 20px;
    margin-right: 20px; 
}

.para {
    margin-left: 40px;
    margin-right: 40px;
}

.mar2 {
    margin-top: 50px;
}

.checked {
    color: orange;
}
